<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - Prajaratha</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <header>
     		<nav>
			<a href="/"><div class="logo">Prajaratha</div></a>
			<ul class="nav-links">
				<li><a href="/">Home</a></li>
				<li><a href="/view-routes">View Bus Routes</a></li>
			</ul>
			<th:block th:if="${session.customer==null && session.agency==null}">
				<div class="auth-buttons">
					<a href="/login"><button class="login-btn">Login</button></a> <a
						href="/signup"><button class="signup-btn">Sign Up</button></a>
				</div>
			</th:block>
			<th:block th:if="${session.customer}">
			<ul class="nav-links">
				<li><a href="/logout">View Previous Bookings</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			</th:block>
			<th:block th:if="${session.agency}">
				<ul class="nav-links">
				<li><a href="/add-bus">Add Bus</a></li>
				<li><a href="/add-route">Add Route</a></li>
				<li><a href="/manage-route">Manage Routes</a></li>
				<li><a href="/view-customers">View Customers</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			</th:block>
		</nav>
    </header>

    <main>
        <div class="signup-container">
            <h1>Sign Up</h1>
            <form action="/signup" method="POST">
                <div class="input-group">
                    <label for="role">Select a Role : </label>
                    <label>Customer:</label> <input type="radio"  name="role" value="customer" required> 
                    Agent: <input type="radio"  name="role" value="agency" required> 
                </div>
                <button type="submit" class="signup-btn">Sign Up</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Prajaratha. All rights reserved.</p>
    </footer>
</body>
</html>
